/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans; }

.mainIndexSecundaria div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.mainQuienessomos .boxQuienessomos {
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }

.mainComunidad .comunidadSuscripcion input, .mainComunidad .comunidadSuscripcion button {
  width: 300px;
  height: 35px;
  margin: 3px;
  font-size: 16px;
  border: 1px solid #00000060;
  border-radius: 5px; }

/* HEADER styles*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 100; }
  header img {
    margin: 10px 5px;
    width: 180px; }
  header .focusMenuColor {
    font-weight: bold; }
  header .navbar-nav a {
    font-size: 18px;
    margin: 0px 10px; }
  header .navbar-nav a:hover {
    font-weight: bold; }

@media screen and (max-width: 600px) {
  .navbar-nav a {
    font-size: 16px; } }

/* FOOTER styles*/
footer {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 400; }
  footer ul {
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        text-decoration: none;
        color: #232323; }
        footer ul li a i {
          font-size: 1.3rem;
          margin-right: 3px; }
      footer ul li a:hover {
        color: black;
        font-weight: 500; }
  footer hr {
    margin: 20px 0px; }
  footer h3 {
    margin: 20px 0px 40px 0px;
    font-size: 18px;
    text-align: center; }

@media screen and (max-width: 350px) {
  footer ul {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap; } }

/* Main Productos  */
#idBoxCafeBrasil {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #7DBD33;
  background-image: url(../img/mapa.png);
  background-size: cover;
  background-position: center; }

#idBoxCafeColombia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #FA9D12;
  background-image: url(../img/mapa.png);
  background-size: cover;
  background-position: center; }

#idBoxCafeMoka {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #27BBA1;
  background-image: url(../img/mapa.png);
  background-size: cover;
  background-position: center; }

#idBoxCafeItaliano {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #c7c7c7;
  background-image: url(../img/mapa.png);
  background-size: cover;
  background-position: center; }

.boxCafeImage {
  width: 50%; }

.cafeImage {
  width: 100%;
  max-width: 350px;
  padding: 3%;
  display: block;
  margin: 0 auto; }

.boxCafeText {
  width: 50%; }

.cafeText {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3% 0;
  padding: 5%;
  width: 95%; }
  .cafeText ul li {
    font-size: 1rem; }

/* main Productos @media */
@media screen and (min-width: 700px) {
  .cafeText {
    width: 65%; }
  ul li {
    font-size: 1.2rem; } }

@media screen and (max-width: 500px) {
  .boxCafeImage, .boxCafeText {
    width: 100%;
    display: flex;
    justify-content: center; }
  .cafeText {
    margin: 0.5% 4% 4% 4%; } }

/* Main locales */
.boxLocales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 5px; }
  .boxLocales .boxLocal1, .boxLocales .boxLocal2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); }
    .boxLocales .boxLocal1 .imgLocales, .boxLocales .boxLocal2 .imgLocales {
      max-width: 650px;
      width: 100%;
      border-radius: 5px 5px 0px 0px; }
    .boxLocales .boxLocal1 .textLocales, .boxLocales .boxLocal2 .textLocales {
      background: linear-gradient(130deg, #e9c18f 0%, #b87e34 100%);
      height: 180px;
      padding: 15px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0px 0px 5px 5px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      .boxLocales .boxLocal1 .textLocales h4, .boxLocales .boxLocal2 .textLocales h4 {
        margin-bottom: 7px; }
      .boxLocales .boxLocal1 .textLocales span, .boxLocales .boxLocal2 .textLocales span {
        font-weight: 600; }

/* Main Locacales @media */
@media screen and (max-width: 350px) {
  .textLocales p {
    font-size: 0.8rem; } }

/* Main comunidad */
.mainComunidad {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainComunidad .comunidadTextPrincipal {
    text-align: center;
    margin-bottom: 10px; }
    .mainComunidad .comunidadTextPrincipal p {
      font-size: 18px;
      margin: 5px 15px;
      font-weight: 500;
      color: #a85f00; }
  .mainComunidad .comunidadCarousel {
    width: 320px;
    margin-top: 25px; }
  .mainComunidad .comunidadSuscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15px 30px;
    text-align: center; }
    .mainComunidad .comunidadSuscripcion input {
      padding: 0px 5px; }
    .mainComunidad .comunidadSuscripcion button {
      background-color: #ffcc40;
      font-weight: 500;
      cursor: pointer; }
    .mainComunidad .comunidadSuscripcion button:hover {
      background-color: #ffc422; }

/* main Comunidad @media */
@media screen and (min-width: 1100px) {
  .comunidadCarousel {
    display: none; }
  .comunidadMedia {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px; } }

@media screen and (max-width: 1100px) {
  .comunidadMedia {
    display: none; }
  #idComunidadH1 {
    font-size: 3em; }
  .comunidadTextPrincipal p {
    font-size: 1em; } }

/* main quienessomos */
.mainQuienessomos {
  display: flex;
  justify-content: center; }
  .mainQuienessomos .boxQuienessomos {
    margin: 1% 2% 2%;
    padding: 0px 30px;
    max-width: 1000px;
    background-color: whitesmoke; }
    .mainQuienessomos .boxQuienessomos p {
      text-align: center;
      margin: 30px 0px;
      font-size: 1.1rem;
      font-weight: 500; }
    .mainQuienessomos .boxQuienessomos #idTextqs1, .mainQuienessomos .boxQuienessomos #idTextqs3 {
      color: #a85f00; }
    .mainQuienessomos .boxQuienessomos #idTextqs2, .mainQuienessomos .boxQuienessomos #idTextqs4 {
      color: #7a4500; }
    .mainQuienessomos .boxQuienessomos img {
      width: 100%;
      max-width: 250px;
      display: block;
      margin: 50px auto 20px; }

/* main Contacto */
.sectionDataContacto {
  max-width: 450px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center; }
  .sectionDataContacto h3 {
    font-size: 18px;
    margin-bottom: 17px; }
  .sectionDataContacto h4, .sectionDataContacto p {
    margin: 3px; }
  .sectionDataContacto a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue; }

#idFormContacto {
  display: grid;
  row-gap: 15px;
  max-width: 1000px;
  padding: 1em;
  margin: 50px auto;
  border-radius: 5px;
  border: 3px solid #54300057;
  background-color: #333333;
  color: white; }
  #idFormContacto div {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  #idFormContacto .formDivImput {
    row-gap: 15px;
    column-gap: 20px; }
  #idFormContacto .divTextareaAndButton p {
    grid-column: 1 / 3; }
  #idFormContacto .formInputData {
    height: 50px; }
  #idFormContacto .formTextareaData {
    height: 150px; }
  #idFormContacto .dataInputandTextarea {
    background-color: rgba(245, 245, 245, 0.3);
    padding: 0 5px;
    border-radius: 5px;
    border-color: #969696;
    font-size: 16px;
    color: white;
    width: 100%; }
  #idFormContacto .dataInputandTextarea::placeholder {
    font-size: 16px;
    color: #bebebe; }
  #idFormContacto .formButton {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffd092;
    border-color: rgba(150, 150, 150, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100%;
    height: 40px; }
  #idFormContacto .formButton:hover {
    background-color: #ffbf6c; }

/* main Contacto @media */
@media screen and (max-width: 650px) {
  #idFormContacto div {
    grid-template-columns: 1fr; } }

/* BODY */
body {
  background-image: url(../img/fondobody.jpg);
  background-size: 945px 600px; }

/* MAIN */
h1 {
  text-align: center;
  margin: 30px 0px;
  font-family: Amatic SC, Open Sans;
  font-size: 64px; }

/* Main Index */
.mainIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

/* > main index > seccion principal */
#idImgPriIndex {
  display: block;
  width: 100%;
  height: 400px;
  background-image: url(../img/imgindex3b.jpg);
  background-size: cover;
  background-position: bottom; }

.mainIndexPrincipal h1 {
  text-align: center; }

.mainIndexPrincipal p {
  text-align: center; }
  .mainIndexPrincipal p span {
    font-style: italic;
    font-weight: bold; }

/* > main index > seccion secundaria */
.mainIndexSecundaria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0px 0px 0px;
  gap: 50px; }
  .mainIndexSecundaria div {
    margin: 20px 10px;
    width: 450px;
    height: 200px;
    transition: 0.4s; }
  .mainIndexSecundaria div:hover {
    transform: scale(1.05);
    transition: 0.4s;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.3); }
  .mainIndexSecundaria p {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
    width: 250px;
    min-width: 250px;
    font-weight: bold;
    position: relative;
    left: 10px;
    top: 10px;
    padding: 5px 10px; }
  .mainIndexSecundaria a {
    color: black;
    text-decoration: none; }

.indexBoxSpanText {
  display: block;
  font-size: 1.5rem; }

.indexBoxProductos {
  background-image: url(../img/boxproductos.png); }

.indexBoxLocales {
  background-image: url(../img/boxcafeteria.jpg); }

.indexBoxComunidad {
  background-image: url(../img/boxcomunidad.jpg); }

.imgBox {
  background-size: cover;
  background-position: center; }

/* Main Index (@media) */
@media screen and (min-width: 500px) {
  .mainIndexSecundaria500px {
    display: none; } }

@media screen and (max-width: 500px) {
  #idImgPriIndex {
    width: 100%;
    max-height: 300px; }
  .mainIndexPrincipal h1 {
    font-size: 3em; }
  .mainIndexPrincipal p {
    font-size: 16px;
    margin: 0px 30px 30px 30px; }
  .mainIndexSecundaria {
    display: none; }
  .mainIndexSecundaria500px {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 80%;
    min-width: 30%; }
    .mainIndexSecundaria500px a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      font-weight: 500; }
      .mainIndexSecundaria500px a div {
        height: 140px; }
        .mainIndexSecundaria500px a div p {
          background-color: rgba(255, 255, 255, 0.7);
          display: inline-block;
          width: 100%;
          max-width: 125px;
          padding: 5px; } }
