/* HEADER styles*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.10);
    z-index: 100;

    img{
        margin: 10px 5px;
        width: 180px;    
    }

    .focusMenuColor{
        font-weight: bold;
    }

    .navbar-nav a{
        font-size: 18px;
        margin: 0px 10px;
    }

    .navbar-nav a:hover{
        font-weight: bold;
    }

}

@media screen and (max-width:600px){
    .navbar-nav a{
        font-size: 16px;
    }
}




/* FOOTER styles*/

footer{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;

    ul{
        margin-top: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 2em;

        li{
            list-style: none;

            a{
                text-decoration: none;
                color: rgb(35, 35, 35);

                i{
                    font-size: 1.3rem;
                    margin-right: 3px;
                }
            }

            a:hover{
                color: black;
                font-weight: 500;
            }
        }
    }

    hr{
        margin: 20px 0px;
    }

    h3{
        margin: 20px 0px 40px 0px;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width:350px){
    footer ul{
        font-size: 0.9rem;
        display: flex;
        flex-wrap: wrap;
    }
}