// COLORES

    // Color LOGO
$colorLogo: #734200;

    // Colores principales
$colorMarronOscuro: #7a4500;
$colorMarronClaro: #a85f00;

    // colores secundarios:
$colorCafeBrasil: #7DBD33;
$colorCafeColombia: #FA9D12;
$colorCafeMoka: #27BBA1;
$colorCafeItaliano: rgb(199, 199, 199);
$colorLocalesDegradado: linear-gradient(130deg, rgba(233,193,143,1) 0%, rgb(184, 126, 52) 100%);

    // Color botones:
$colorBtSuscrip: #ffcc40;
$colorBtSuscripHover: #ffc422;
$colorBtForm: #ffd092;
$colorBtFormHover: #ffbf6c;


// LINKS

    // Imagenes

        // Background BODY General
$bgBodyGeneral: url(../img/fondobody.jpg);

        // > Index
$imgBannerIndex: url(../img/imgindex3b.jpg);
$imgIndexProductos: url(../img/boxproductos.png);
$imgIndexLocales: url(../img/boxcafeteria.jpg);
$imgIndexComunidad: url(../img/boxcomunidad.jpg);

        // > Productos

$imgMapaFondo: url(../img/mapa.png);

